<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}Gaia Community God Auction {{ year }}: {{ title }}{% endblock %}</title>
        <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.2.custom.min.js"></script>
<!--        <script type="text/javascript" src="/js/jquery.autocomplete.js"></script> -->
        {% for script in scripts %}
            <script type="text/javascript" src="/js/{{ script }}"></script>
        {% endfor %} 
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/css/smoothness/jquery-ui-1.8.2.custom.css" />
        {% for sheet in css %}
            <link rel="stylesheet" type="text/css" href="/css/{{ sheet }}" />
        {% endfor %} 
    </head>
    <body>
        <div id="header">
            <h1>Gaia Community God Auction {{ year }}</h1>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="actions">
            <ul class="menu">
                {% if logout_url %}
                <li><a href="{{ logout_url }}">Logout</a></li>
                {% endif %}
                <li><a href="/standings">Standings</a></li>
                <li><a href="/donors">Donors</a></li>
                <li><a href="/donations">Donations</a></li>
                <li><a href="/powers">Powers</a></li>
<!--                <li><a href="/donation_types">Donation Types</a></li> -->
            </ul>
        </div>
    </body>
</html>
